body{
background-color: blanchedalmond;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.input1{
    margin-left: 80px;
}

.input2{
    margin-left: 47px;
}

.input3{
    margin-left: 11px;
    width: 150px;
}

.input4{
    margin-left: 11px;
}

.input5{
    margin-left: 64px;
}

.button{
    text-align: center;
    margin-left: 440px;
    width: 100px;
    height: 50px;
background-color:white;
color: #000;
border-radius: 20px;
border: 2px ridge #000 ;
box-shadow: 10px 10px 10px  gray;
cursor:pointer;

}

.span{
    font-size: 40px;
}

.button:hover{
    color: aqua;
    background-color: black;
}