.mobile{
    color: cornflowerblue;
}
.price{
color: cornflowerblue;
}
.DESKTOP{
color: cornflowerblue;
}
.price2{
    color: cornflowerblue;
}
.TV{
    color: cornflowerblue;
    }
    .price3{
        color: cornflowerblue;
    }
.overall{
    background-color:white;
}    
html{
    background-color:cornflowerblue;
}.overall2{
    background-color:white;
}    

.overall3{
    background-color:white;
}    
