*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/rubik-v20-latin-600.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v20-latin-700.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-700.woff') format('woff');
}

.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-part-content{
    background-color: #F2CEDA;
    margin: 0;
    padding-bottom: 100px;

}

.header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.list2{
    width: 500px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.a{
    text-decoration: none;
    color: #150100;
}

.a:hover{
    color: #D23166;
    cursor: pointer;
}

.p {
    margin-top: 50px;

}

.button{
    padding: 16px 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #fafafa;
    background-color: #d23166;
    border-radius: 5px;
    border: none;
    border: solid 2px transparent;
    cursor: pointer;
    margin-top: 50px;
}

.button:hover{
    color: #d23166;
    background-color: #fafafa;
    border: solid 2px #d23166;
    box-shadow: 0px 0px 0px 2px #d23166;
}


.content{
    width: 1300px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

.content3{
    width: 1300px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

.content-child25o{
    background-color: #FFD8F0;
}

.content2{
    width: 1300px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
    padding: 50px;
}

.h5{
    font-size: 2;
    margin:0px;
}

.h2{
    font-family: 'Fredoka One';
font-style: normal;
font-weight: 400px;
font-size: 57.33px;
line-height: 120.5%;
margin: 0;
}

.marojni{
    height: 600px;
    width: 710px;
    background-repeat: no-repeat;
    padding: 0;
}

.marojni-child{
    height: 600px;
    width: 710px;
    background-image: url('../images/marojni.png');
    background-repeat: no-repeat;
}

.sut {
    height: 600px;
    width: 710px;
    background-image: url('../images/sut.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100px ;
    background-position-x: -200px;
}

.list3{
    margin-top: 100px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.item4{
    width: 250px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item4:hover{
    width: 250px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: -10px 10px 20px 8px  gray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;

}

.h3{width: 122px;
    height: 28px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-left:50px;
    
}

.h4{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400px;
    font-size: 57.33px;
    line-height: 120.5%;
    margin: 0;
    width: 400px;
}

.marojnii{
    height: 600px;
    width: 710px;
    background-image: url('../images/section2-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

.h2-2{
    width: 300px;
    height: 61px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
    margin-left: 550px;
    text-align: center;
}

.list5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    color: gray;
}
.marojniii{
    height: 600px;
    width: 710px;
    background-image: url('../images/Rectangle\-74.png');
    background-repeat: no-repeat;
    background-position: center;
}
.item6:hover{
    color: #000000;
    text-decoration: underline 3px #D23166;
}

.marojni1{
    height: 600px;
    width: 710px;
    background-image: url('../images/Rectangle\-78.png');
    background-repeat: no-repeat;
    background-position: center;
}

.marojni3{
    height: 600px;
    width: 710px;
    background-image: url('../images/Rectangle\-79.png');
    background-repeat: no-repeat;
    background-position: center;
}


.marojni4{
    height: 600px;
    width: 710px;
    background-image: url('../images/uLkF7xc5W6-removebg-preview\-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.h5{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400px;
    font-size: 57.33px;
    line-height: 120.5%;
    margin: 0;
    width: 500px;
}

.h6{
    display: inline;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400px;
    font-size: 57.33px;
    line-height: 120.5%;
    margin: 0;
    width: 500px;
}

.img3{
    display: inline;
    margin-right: 25px;
}

.info{
    display: flex;
    flex-direction: column;
}

.obshak{
    display: flex;
    align-items: center;
}

.amirican{
    color: gray;
}

.p-1{
    display: inline;
}

.something{
    margin-bottom: 10px;
}

.something2{
    margin-top: 2px;
}

.images{
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactUs{
    background-color: #FFD8F0;
}

.install_page{
    padding: 50px;
}



.img-10:hover{
    box-shadow:gray -10px 10px 20px;
}

.install_page{
    display: flex;
    justify-content: space-around;
    width: 1300px;
    height: 678px;
}

.simple{
    width: 621px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.div-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1{
    width: 607px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
}

.simple{
    width: 621px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.choice{
    width: 166px;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-left: 7px;
}

.p1{
    width: 607px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
}

.div-2{
    margin-top: 100px;
}

.installer{
    margin-top: 41px;
    display: flex;
    align-items: center;
    margin-right: 250px;
}

.div3{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 400px;
}

.h2-2-2{
    width: 522px;
    height: 123px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.own-money{
    color: gray;
}

.question{
    text-align: center;
}


.question-heading{
    width: 500px;
    height: 123px;
    left: 524px;
    top: 4903px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    margin-left: -100px;

}

.submit{
    margin-left: auto;
    margin-right: auto;
    margin-left: -70px;
}

.input-1{
    margin-right: 20px;
    padding: 20px;
    width: 303px;
    height: 50px;
}
.question{
    margin-left: auto;
    margin-right: auto;
    width: 303px;
    height: 50px;
}

.form{
    display: flex;
    align-items: center;
}

.enter-question{
    margin: 20px;
    margin-left: 0%;
    width: 500px;
    height: 40px;
}

.question-father{
    height: 350px;
}

.box{
    display: flex;
    width: 1300px;
    height: 381px;
    padding: 15px;
}

.quesion-button{
    width: 100px;
    height: 40px;
    position: relative;
    top: -60px;
    left: 270px;
    border: solid 2px #D23166;
    border-radius: 5px;
    background-color: #D23166;
    color: white;
}



.p-p{
    width: 207px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.span-span{
    width: 46px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.section-1{
    display: flex;
    flex-direction: column;
    margin-left: 235px;
    margin-top: 60px;
}

.list-list{
    list-style-type: none;
    margin-top: 130px;
    margin-left: 35px;
}

.a-a{
    width: 42px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #9F9E9E;
}

.a-a1{
    width: 42px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #ffffff;
}

.list-list-list{
    list-style-type: none;
    margin-top: 150px;
    margin-left: 35px;
}

.a-a-a{
    width: 42px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #ffffff;
}

.end-send{
    margin-top: 150px;
    margin-left: 180px;
}

.end-send-input{
    border: 2px solid gray;
    color: gray;
    width: 200px;
    height: 30px;
    border: 2px solid #D23166;
    border-radius: 5px;
    background-color: black;
}

.p-p-2{
    color: #ffffff;
}

.black-background{
    background-color: #000000;
}

.end-button-2{
    color: white;
    background-color: #D23166;
    border: 2px solid #D23166;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -15px;
    height: 30px;
    cursor: pointer;
}
.list-9{
    display: flex;
    list-style: none;
    width: 100px;
    margin-top: -20px;
    margin-left: -45px;
}

.item-9{
    margin: 5px;
}